<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
  <div class="card">
    <i class="fa1 fa fa-quote-right" aria-hidden="true"></i>
    <div class="text">
      <i class="bi bi-question-diamond-fill" style="font-size: 4rem"></i><br />
      <h1>{{ "Subscribe" | translate }}</h1>
      {{ "getStartedPara" | translate }}
      <br><br>
      <button class="button1" type="button">
        {{ "getStartedButton" | translate }}
      </button>
    </div>
  </div>
</body>

