<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="section-container">
    <div class="test">
    <div class="test-1"></div>
      <div class="test-2">
        <img class="test-2-img" style="height: 400px" src="assets/images/tmp.svg"></div>
      </div>
     <div class="text">
      <div class="text-1">
          <h1>{{'FIRST_TITLE' | translate}}</h1>
          <p>
              {{'P_1' | translate}}
                 <br><br><button type="button" class="btn-dark1"> {{'BUTTON_1' | translate}} </button>
          </p>
      </div>
    </div>
</div>
</body>