<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="section-container">
    <div class="thirdRow">
      <div class="thirdRow-1"></div>
        <div class="thirdRow-2">
          <img class="thirdRow-2-img" style="height: 400px" src="assets/images/tmp.svg">
        </div>
    </div>
      <div class="thirdRow2">
        <div class="thirdRow2-1">
            <h1>{{'TIR_TITLE' | translate}}</h1>
            <p>
             {{'P_3' | translate}}
             <br><br><button type="button" class="btn-dark2">{{'BUTTON_3' | translate}}</button>
            </p>
        </div>
      </div>
</div>    
</body>
