<head>
   <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<div class="section-container">
    
    <div class="columns content">
       <div class="content-container">
        <h1>{{'DownloadApp' | translate}}</h1>
           <p>
            {{'DownloadPara' | translate}}
           </p>
           <br><br>
           <div class="downloadButton">
            <a href="#">
                <img class="img-fluid me-1" src="assets/images/googlePlay.svg" style="width: 35%;"></a> 
                <a href="#"><img class="img-fluid me-1" src="assets/images/appStore.svg" style="width: 35%; margin-left: 15px;"></a>
        </div>
       </div>
    </div>

    <div class="columns image" >
      <img src="assets/images/tmp.svg" alt="">
       
        &nbsp;
     </div>

</div>